html, body{
  background-color: #c43e00;
}
.landing{
  background-image: url('http://i.imgur.com/jMxejb0.jpg');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}
.title {
  font-family: 'Acme', sans-serif;
  font-size: 8vw;
  color: black;
  text-shadow: -1px 0 #ff6f00, 0 1px #ff6f00, 1px 0 #ff6f00, 0 -1px #ff6f00;
}
.subtitle {
  font-family: 'Acme', sans-serif;
  font-weight: bold;
  font-size: 2vw;
  color: black;
  text-shadow: -1px 0 #ff6f00, 0 1px #ff6f00, 1px 0 #ff6f00, 0 -1px #ff6f00;
}
.nav {
  margin-top: 10px;
  background-color: #ff6f00;
}
#logo {
  font-size: 4vh;
  font-weight: bold;
}
.nav a {
  font-size: 2.5vh;
  color: black;
  font-family: 'Acme', sans-serif;
}
.nav a:hover {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border: white;
}
.nav .nav-toggle span {
  box-shadow: -1px 0 #c43e00, 0 1px #c43e00, 1px 0 #c43e00, 0 -1px #c43e00;
  background-color: black;
}
.nav .nav-toggle:hover {
  background: none;
}
.nav .nav-toggle:hover span {
  background-color: white;
  box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/*a.nav-item:hover {
  color: #ff6f00;
  border: white;
}*/
.aboutUs {
  margin-top: 20px;
  background-color: #ff6f00;
  background-image: url('http://i.imgur.com/fRP0RNp.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.aboutUs .container h1 {
  font-family: 'Acme', sans-serif;
  color: black;
  text-shadow: -1px 0 #c43e00, 0 1px #c43e00, 1px 0 #c43e00, 0 -1px #c43e00;
  font-size: 5vh;
  font-weight: bold;
}
.aboutUs .container h2 {
  font-family: 'Acme', sans-serif;
  color: black;
  text-shadow: -1px 0 #c43e00, 0 1px #c43e00, 1px 0 #c43e00, 0 -1px #c43e00;
}
.aboutUs .container li {
  font-family: 'Acme', sans-serif;
  color: black;
  text-shadow: -1px 0 #c43e00, 0 1px #c43e00, 1px 0 #c43e00, 0 -1px #c43e00;
  font-size: 3vh;
  padding: 10px;
}
.howTitle {
  font-family: 'Acme', sans-serif;
  color: black;
  text-shadow: -1px 0 #c43e00, 0 1px #c43e00, 1px 0 #c43e00, 0 -1px #c43e00;
  font-size: 7vh;
}
.howItWorks {
  margin-top: 20px;
  background: #f1f1f1;
}
.howItWorks h3 {
  font-family: 'Acme', sans-serif;
  color: black;
  text-shadow: -1px 0 #c43e00, 0 1px #c43e00, 1px 0 #c43e00, 0 -1px #c43e00;
  font-size: 4vh;
}
.grillTitle {
  font-family: 'Acme', sans-serif;
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-size: 7vh;
}
.grillList {
  margin-top: 20px;
  background-color: #ff6f00;
}
.grillList .descColumn p {
  font-family: 'Acme', sans-serif;
  color: black;
  text-shadow: -1px 0 #c43e00, 0 1px #c43e00, 1px 0 #c43e00, 0 -1px #c43e00;
  font-size: 3.0vh;
  padding: 10px;
}
.descColumn h3 {
  font-family: 'Acme', sans-serif;
  color: black;
  text-shadow: -1px 0 #c43e00, 0 1px #c43e00, 1px 0 #c43e00, 0 -1px #c43e00;
  font-size: 3.5vh;
  text-decoration: underline;
}
.descColumn li {
  font-family: 'Acme', sans-serif;
  color: black;
  text-shadow: -1px 0 #c43e00, 0 1px #c43e00, 1px 0 #c43e00, 0 -1px #c43e00;
  font-size: 2.5vh;
  padding: 10px;
}
.grillList img {
  border: black 1px solid;
}
.sod h3 {
  font-family: 'Acme', sans-serif;
  color: black;
  text-shadow: -1px 0 #c43e00, 0 1px #c43e00, 1px 0 #c43e00, 0 -1px #c43e00;
  font-size: 3.5vh;
  text-decoration: underline;
}
.sod p {
  font-family: 'Acme', sans-serif;
  color: black;
  text-shadow: -1px 0 #c43e00, 0 1px #c43e00, 1px 0 #c43e00, 0 -1px #c43e00;
  font-size: 3.0vh;
  padding: 10px;
}
.chair h3 {
  font-family: 'Acme', sans-serif;
  color: black;
  text-shadow: -1px 0 #c43e00, 0 1px #c43e00, 1px 0 #c43e00, 0 -1px #c43e00;
  font-size: 3.5vh;
  text-decoration: underline;
}
.chair p {
  font-family: 'Acme', sans-serif;
  color: black;
  text-shadow: -1px 0 #c43e00, 0 1px #c43e00, 1px 0 #c43e00, 0 -1px #c43e00;
  font-size: 3.0vh;
  padding: 10px;
}
.bookerBody {
  min-height: 600px;
  margin-top: 20px;
}
#booker p {
  font-family: 'Acme', sans-serif;
  color: #c43e00;
  text-align: center;
  font-size: 3vh;
}
#booker > div {
  font-family: 'Acme', sans-serif;
  background: #f1f1f1;
  padding: 10px;
  border: 2px black solid;
}
#booker > div > div {
  font-family: 'Acme', sans-serif;
  font-size: 3.5vh;
}
#booker > div > div > a.ui-datepicker-next.ui-corner-all > span {
  color: #ff6f00;
  float: right;
}
#booker > div > div > a.ui-datepicker-next.ui-corner-all > span:hover {
  color: black;
}
#booker > div > div > a.ui-datepicker-prev.ui-corner-all > span {
  color: #ff6f00;
}
#booker > div > div > a.ui-datepicker-prev.ui-corner-all > span:hover {
  color: black;
}
#booker > div > div > div {
  text-align: center;
}
#booker th {
  text-align: center;
}
#booker td {
  border: 1px black solid;
  text-align: center;
  padding: 1px;
}
#booker td a {
  color: #ff6f00;
  font-size: 2.5vh;
}
#booker td a:hover {
  color: black;
}
#selector {
  background: #f1f1f1;
  display: none;
  border: 2px black solid;
  padding: 10px;
  font-family: 'Acme', sans-serif;
}
#selector label {
  font-size: 2.5vh;
}
.selectorp {
  display: none;
  font-family: 'Acme', sans-serif;
  color: #c43e00;
  text-align: center;
  font-size: 3vh;
}
.chairCount {
  display: none;
}
#runningTotal input {
  margin-left: 5px;
}
#bookingButton {
  margin-left: 10px;
}
.social {
  margin-top: 20px;
  background: #f1f1f1;
  font-family: 'Acme', sans-serif;
  color: black;
  text-shadow: -1px 0 #c43e00, 0 1px #c43e00, 1px 0 #c43e00, 0 -1px #c43e00;
  font-size: 5vh;
  font-weight: bold;
}
.social a {
  color: black;
  text-shadow: -1px 0 #c43e00, 0 1px #c43e00, 1px 0 #c43e00, 0 -1px #c43e00;
}
.social a:hover {
  color: #c43e00;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.modal-background {
  opacity: 0.95;
  background: #f1f1f1;
}
.footer {
  margin-top: 20px;
}
.footer a {
  color: #ff6f00;
}
.footer a:hover {
  color: white;
  text-shadow: -1px 0 #ff6f00, 0 1px #ff6f00, 1px 0 #ff6f00, 0 -1px #ff6f00;
}
