html, body{
  background-color: #c43e00;
}
.hero-body.landing{
  background-image: url('http://i.imgur.com/jMxejb0.jpg');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}
.title {
  font-family: 'Acme', sans-serif;
  font-size: 8vw;
  color: black;
  text-shadow: -1px 0 #ff6f00, 0 1px #ff6f00, 1px 0 #ff6f00, 0 -1px #ff6f00;
}
.subtitle {
  font-family: 'Acme', sans-serif;
  font-weight: bold;
  font-size: 2vw;
  color: black;
  text-shadow: -1px 0 #ff6f00, 0 1px #ff6f00, 1px 0 #ff6f00, 0 -1px #ff6f00;
}
.nav {
  margin-top: 10px;
  background-color: #ff6f00;
}
#logo {
  font-size: 4vh;
  font-weight: bold;
}
.nav a {
  font-size: 2.5vh;
  color: black;
  font-family: 'Acme', sans-serif;
}
.nav a:hover {
  color: white;
}
#joinLink {
  margin-right: -320px;
}
.hero.aboutUs {
  margin-top: 20px;
  background-color: #ff6f00;
  background-image: url('http://i.imgur.com/fRP0RNp.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.hero.aboutUs .container h1 {
  font-family: 'Acme', sans-serif;
  color: black;
  text-shadow: -1px 0 #c43e00, 0 1px #c43e00, 1px 0 #c43e00, 0 -1px #c43e00;
  font-size: 5vh;
  font-weight: bold;
}
.hero.aboutUs .container h2 {
  font-family: 'Acme', sans-serif;
  color: black;
  text-shadow: -1px 0 #c43e00, 0 1px #c43e00, 1px 0 #c43e00, 0 -1px #c43e00;
}
.hero.aboutUs .container li {
  font-family: 'Acme', sans-serif;
  color: black;
  text-shadow: -1px 0 #c43e00, 0 1px #c43e00, 1px 0 #c43e00, 0 -1px #c43e00;
  font-size: 3vh;
  padding: 10px;
}
.howTitle, .grillTitle {
  font-family: 'Acme', sans-serif;
  color: black;
  text-shadow: -1px 0 #c43e00, 0 1px #c43e00, 1px 0 #c43e00, 0 -1px #c43e00;
  font-size: 7vh;
}
.howItWorks {
  margin-top: 20px;
  background: #f1f1f1;
}
.howItWorks h3 {
  font-family: 'Acme', sans-serif;
  color: black;
  text-shadow: -1px 0 #c43e00, 0 1px #c43e00, 1px 0 #c43e00, 0 -1px #c43e00;
  font-size: 4vh;
}
.grillList {
  margin-top: 20px;
  background-color: #ff6f00;
}
.grillList .descColumn {
}
.grillList img {
  border: black 1px solid;
}
#booker > div {
  border: red 5px solid;
  background: #f1f1f1;
  padding: 10px;
}
#booker td {
  border: 1px black solid;
  text-align: center;
  padding: 1px;
}
.footer a {
  color: #ff6f00;
}
.footer a:hover {
  color: white;
  text-shadow: -1px 0 #ff6f00, 0 1px #ff6f00, 1px 0 #ff6f00, 0 -1px #ff6f00;
}
